<% if @model == 'customer' %>
  <h3> Users search for "<%= @content %>"</h3>
  <%= render 'customer/customers/index', customers: @records %>
<% else @model == 'list' %>
  <h3> lists search for "<%= @content %>"</h3>
    <%= render 'customer/todolists/index', lists: @records %>
<% end %>