<% if @model == 'user' %>
  <h3> Users search for "<%= @content %>"</h3>
  <%= render 'customers/index', customers: @records %>
<% else @model == 'books' %>
  <h3> Books search for "<%= @content %>"</h3>
    <%= render 'todolists/index', lists: @records %>
<% end %>