<p class="mt-4 fs-2 bg-light col-4 text-center">Fising 管理者専用  トップページ</p>
    <div class='about-visual px-5 px-sm-0'>
      <div class='col-md-11 offset-md-1'>
        <div class="d-flex align-items-center justify-content-center" style="height:300px;">
            <span class="top-text">
              <p>ここは管理者のトップ画面です</p><br>

            </span>
        </div>
      </div>
    </div>