<div class='container'>
  <div class='row'>
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
  		<h1>投稿編集</h1>
    	<%= render 'layouts/errors', obj: @list %>
  		<%= render 'form', list: @list %>
  		<%= link_to 'Show', customer_todolist_path(@list), class: "list_#{@list.id}" %> |
  		<%= link_to 'Back', customer_todolists_path, class: "back" %>
  </div>